/* AddressValidator.css */
.search-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin-top: 1px; /* Adjust as needed */
    max-width: 800px;
    width: 100%;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}

/* Toggle switch container */
.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 100px;
}

/* The switch - the container */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Slider styling */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

/* Slider before (the knob) */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

/* When the checkbox is checked, change the slider's background */
input:checked + .slider {
    background-color: #66a4fa;
}

/* When the checkbox is checked, move the knob to the right */
input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded slider */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Label for the switch */
.toggle-label {
    margin-left: 10px;
    font-size: 16px;
}
.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto; /* Adjust the width as needed */
    font-size: 0.75rem; /* Adjust the font size to make it smaller */
    padding: 0.5em 0.75em; /* Adjust padding as needed */
}